* {
	font-family: sans-serif;
	color: #e6e6e6;
}

body {
	background-color: #292929;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	margin: auto;
	display: block;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main {
	margin: auto;
	width: 66%;
	padding: 5px;
	background-color: #333;
	border: 2px solid #242424;
}


#linklist {
	font-size: 1em;
	text-align: center;
}

@media only screen and (max-width:620px) {
	.main {
		width:98%;
	}

	#linklist {
		font-size: 1.3em;
	}
}

